<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/index_style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a class="container">
    <div class="header">
        <h1> Header </h1>
    </div>
    <div class="nav">
        <nav class="nav_button">
            <a href="#">Main</a>
            <a href="#">Search</a>
            <a href="#">Optional</a>
            <a href="#">Upgrade</a>
            <a href="#">Personal</a>
        </nav>
    </div>
    <div class="filter">
        <ul>
        <li><button type="button" class="button">Menu</button> </li>

        <ul>
            <li><a href="#">По умолчанию</a> </li>
            <li><a href="#">Списком</a> </li>
        </ul>
        </ul>
    </div>
    <div class="menu">

    </div>
    <div class="center_field">

    </div>
</a>

</body>
</html>